<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parent_Suite">
<listeners>
<listener class-name="utils.Listners"/>
</listeners>
<test name="Login">
	 <classes>
	   <class name="testcases.LoginValidCred"/>
	 </classes>
   </test>
   <test name="viewOrder">
	 <classes>
	   <class name="testcases.ViewOrders"/>
	 </classes>
   </test>
   <test name="addToCart">
	 <classes>
	   <class name="testcases.AddItemToCart"/>
	 </classes>
   </test>
   <test name="addToWishlist">
	 <classes>
	     <class name="testcases.AddBestSellerItemToWishList"/>
	 </classes>
   </test>
</suite>
<!-- Suite -->